h1 {
    color: indigo;
}

img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 3px;
}

body {
    background-color: #ffffff;
    font-family: sans-serif;
}

button {
    margin-top: 20px;
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px;
}

#createProfile {
    margin-top: 20px;
}

#addAphoto {
    display: none;
    margin-top: 20px;
}

#putTheImage{
    display: none;
}

#congratulations {
    display: none;
}

/* mudar nome*/
#profile {
    display: none;
    background-color: ghostwhite;
}

#sendInformation{
    display: none;
    margin-top: 20px;
}

.send {
    margin-top: 20px;
}

#socialMedia{
    display: none;
    position: fixed;
    left: 50%;
    top: 0%;
    width: 50%;
    height: 100%;
    background-color: #4c00ff35;
    padding: 20px 20px 20px 20px;
}
