h1 {
    color: indigo;
}

img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 3px;
}

body {
    background-color: #F9FFFB;
    font-family: sans-serif;
}

button {
    margin-top: 20px;
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px;
}

#createProfile {
    margin-top: 20px;
}

#addAphoto {
    display: none;
    margin-top: 20px;
}

#putTheImage{
    display: none;
}

#congratulations {
    display: none;
}

#profile {
    display: none;
    background-color: ghostwhite;
}

#sendInformation{
    display: none;
    margin-top: 20px;
}

.send {
    margin-top: 20px;
}